.7_42 { 
	overflow:hidden;
}.e7_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1451px;
	position:absolute;
}.e7_46 { 
	width:1575px;
	height:1471px;
	position:absolute;
	left:-39px;
	top:-20px;
	background-image:url(images/pexels_francesco_ungaro_2835436_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_43 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:29px;
	position:absolute;
	left:28.2320556640625px;
	top:16.549835205078125px;
	font-family:Poppins;
	text-align:left;
	font-size:19.47040557861328px;
	letter-spacing:0;
}.e7_44 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:29px;
	position:absolute;
	left:135.3193359375px;
	top:16.549835205078125px;
	font-family:Poppins;
	text-align:left;
	font-size:19.47040557861328px;
	letter-spacing:0;
}.e7_45 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:29px;
	position:absolute;
	left:264.7974853515625px;
	top:16.549835205078125px;
	font-family:Poppins;
	text-align:left;
	font-size:19.47040557861328px;
	letter-spacing:0;
}.e7_48 { 
	color:rgba(255, 255, 255, 1);
	width:979.3613891601562px;
	height:165.49844360351562px;
	position:absolute;
	left:230px;
	top:234px;
	font-family:Poppins;
	text-align:left;
	font-size:88.01417541503906px;
	letter-spacing:0;
}.e7_51 { 
	background-color:rgba(255, 255, 255, 0.6000000238418579);
	width:590.9268188476562px;
	height:444.89874267578125px;
	position:absolute;
	left:-237px;
	top:774px;
	border-top-left-radius:77.88162231445312px;
	border-top-right-radius:77.88162231445312px;
	border-bottom-left-radius:77.88162231445312px;
	border-bottom-right-radius:77.88162231445312px;
}.e7_52 { 
	background-color:rgba(255, 255, 255, 0.6000000238418579);
	width:590.9268188476562px;
	height:444.89874267578125px;
	position:absolute;
	left:454px;
	top:774px;
	border-top-left-radius:77.88162231445312px;
	border-top-right-radius:77.88162231445312px;
	border-bottom-left-radius:77.88162231445312px;
	border-bottom-right-radius:77.88162231445312px;
}.e7_30 { 
	color:rgba(255, 255, 255, 1);
	width:557.8270874023438px;
	height:86.68934631347656px;
	position:absolute;
	left:487px;
	top:687px;
	font-family:League Spartan;
	text-align:left;
	font-size:60.305633544921875px;
	letter-spacing:0;
}.e7_53 { 
	background-color:rgba(255, 255, 255, 0.6000000238418579);
	width:590.9268188476562px;
	height:444.89874267578125px;
	position:absolute;
	left:1145px;
	top:774px;
	border-top-left-radius:77.88162231445312px;
	border-top-right-radius:77.88162231445312px;
	border-bottom-left-radius:77.88162231445312px;
	border-bottom-right-radius:77.88162231445312px;
}.e7_54 { 
	color:rgba(255, 255, 255, 1);
	width:454px;
	height:28px;
	position:absolute;
	left:493px;
	top:371px;
	font-family:Times New Roman;
	text-align:left;
	font-size:24.3380069732666px;
	letter-spacing:0;
}